.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.formHeader{
  display: flex;
  flex-direction: column;
  width: 20%;
  margin: 0 auto;
}

.send{
  margin-top: 10px;
  width: 50%;
  margin: 10px auto;
}

.btnCard{
  display: flex;
  justify-content: center;
  gap: 10px;
}

.btnForCard{
border-radius: 15px;
padding: 10px;
}

.resetBtn{
  border-radius: 15px;
  padding: 10px;
  position: absolute;
  left: 49%;
  top: 40%;
}

.allCard{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  gap: 20px;
}

.lastForm{
  display: flex;
  flex-direction: column;
  width: 20%;
  margin: 50px auto;
}
