*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li{
  list-style: none;
}

.logo{
  width: 100px;
  border-radius: 100%;
}

nav ul {
  display: flex;
  gap: 50px;
  justify-content: space-around;
  align-items: center;
  background-color: #820263;
}
body{
  background-color: #8202624f;
}

h1{
  font-size: 3rem;
  color: #FB8B24;
}

.menuBar {
  display: flex;
  gap: 50px;
  color: #04A777;
}

.user{
  color :#D90368;
}

.mainCocktail{
  text-align: center;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 280px;
  margin: 50px auto;
  background: url(../public/img/caraibe.jpg);
  background-size: cover;
  color: #000000;
  font-weight: 1000;
}

.mainCocktail h2 + p{
  padding-bottom: 30px;
}

.mainCocktail h2{
  padding-bottom: 20px;
}

.leftOfBox{
  text-align: left;
}

.latestCock{
  display: flex;
  justify-content: center;
  gap: 100px;
  margin: 0 auto;
}

.contentCock{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 280px;
  padding: 20px;
  background: url(../public/img/caraibe.jpg);
  background-size: cover;
  color: #000000;
  font-weight: 1000;
}

.contentCock h2, .contentCock h2+p{
  text-align: center;
  padding-bottom: 30px;
}

.allCocktails{
  display: flex;
  margin-top: 50px;
}

.cocktails{
  width: 280px;
  margin: 0 auto;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 20px;
  background: url(../public/img/caraibe.jpg);
  background-size: cover;
  color: #000000;
  font-weight: 1000;
}

.cocktails h2{
  text-align: center;
  padding-bottom: 30px;
}

.userInformation{
  position: absolute;
  top: 15%;
  left: 80%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 20px;
}
