*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

nav ul{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 50px;
  padding-top: 20px;
}
.headerLogo img{
  width: 80px;
}
.navLink{
  display: flex;
  gap: 30px;
  padding-right: 20px;
}
.headerLogo{
  display: flex;
  gap: 10px;
  align-items: center;
  padding-left: 20px;
}

.headerLogo, .navLink li{
  list-style: none;
}

.userAccount{
  display: flex;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 300px;
  margin: 100px auto;
  position: relative;
}
.userAccount img{
  width: 100px;
  border-radius: 100%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  align-self: center;
  position: absolute;
  top: -20%;
}

.informationUser{
  padding-top: 70px;
  padding-left: 20px;
  padding-bottom: 20px;
}

.contentOfExperience{
  display: flex;
  padding-top: 50px;
  justify-content: center;
  gap: 100px;
}

.boxContent{
  width: 20%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin: 0 auto;
  position: relative;
  padding: 50px;
  margin-bottom: 50px;
}

.boxContent h1{
  padding-bottom: 20px;
}

.boxContent li{
  list-style: none;
}

.notFinish{
  color: red;
}

.containerOfComments{
  display: flex;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 200px;
  gap: 300px;
  justify-content: center;
}

.cardOfComments{
  width: 300px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 20px 20px;
}

.cardOfComments h2{
  font-size: 1.2rem;
  text-align: left;
  position: relative;
  padding-bottom: 50px;
}

.cardOfComments h2::after{
  content: "";
  width: 200px;
  height: 25px;
  background-color: #0097bd5d;
  position: absolute;
  top: 52%;
  left: 0;
}

.notImportent{
  font-size: 0.8rem;
  color: rgba(0, 0, 0, 0.315);
}

.sectionOfComments{
  padding-left: 50px;
  padding-bottom: 100px;
  width: 100%;
  position: relative;
}

.sectionOfComments::after{
  content : "";
  position: absolute;
  top: 25%;
  margin-left: 50px;
  left: 0;
  width: 1200px;
  height: 10px;
  background-color: #0097bd5d;
}
